pipeline/pl_keyvault_secrets.json
{
	"name": "pl_keyvault_secrets",
	"properties": {
		"activities": [
			{
				"name": "kvsecrets",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://azvk-trabajofinal.vault.azure.net/secrets/Hubspot-hapikey/8a424102233a424da699412864cd4646?api-version=7.0",
					"connectVia": {
						"referenceName": "IRTrabajoFinal",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "kvsecretset",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "kvsecrets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "kv_hapikey",
							"value": {
								"type": "Expression",
								"content": "@activity('kvsecrets').output"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"kv_hapikey": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01 - Bronze/Landing"
		},
		"annotations": []
	}
}